Lab 1 _ Python Basics

In [ ]:
s = "Hi there Class!"
words = s.split()
print(words)

['Hi', 'there', 'Class!']

In [ ]:
# Given the variables planet = "Earth"
# diameter = 12742
# Use .format() to print the following string :- 
# The diameter of Earth is 12742 kilometres

txt1 = "The diameter of {planet} is {diameter} kilometers.".format(planet = "Earth", diameter = 12742)
print(txt1)

The diameter of Earth is 12742 kilometers.

In [ ]:
# use indexing to grab the word hello # python nested list 

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

In [ ]:
# nested dictionary 

d = {'k1': [1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}] }
a1 = d['k1'][3]
# print(a1)
b1 = a1['tricky'][3]['target'][3]
print(b1)

hello

In [ ]:
# a function that grabs email address from a string 


# Importing module required for regular
# expressions
import re
s = """Hello from user@domain.com"""

def GrabEmail(string):
  lst = re.findall('\S+@\S+', string)	
  return lst 

a = GrabEmail(s)

print(a[0])

user@domain.com

In [ ]:
# 7) a function that counts the no of times the word "dog" occurs in a string 

def dogCount(string):
  a = string.count('dog')
  return a

s = """ The dog with the wagging tail barked at the other dog that passed by, but the second dog, who was a timid rescue dog, just cowered, as the first dog's dog owner scolded their dog for being too aggressive towards the other dog. """

print(dogCount(s))

8

In [ ]:
# 8 ) filter out the words from a list that don't start with the letter 's' _ use lambda expressions and the filter() function for that 

words = ['apple', 'spring','banana','cherry', 'soya', 'date', 'summer', 'elderberry', 'fig', 'grape', 'honeydew']
filtered_words = list(filter(lambda x: x[0] != 's', words))
print(filtered_words)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew']

In [ ]:
# 9 ) 

def caught_speeding(speed, bday) :
  if(bday==True):
      if(speed<=65):
        print("No Challan")
      # elif(speed>=66 && speed<=85): #error
      elif(66<=speed<=85) :
        print("Small Challan") 
      else:
        print("Heavy Challan") 
  else :
      if(speed<=60):
        print("No Challan")
      elif(61<=speed<=80):
        print("Small Challan") 
      else:
        print("Heavy Challan") 

r = caught_speeding(82,True)
# print(r)
a = caught_speeding(82,False)
# print(a)

Small Challan
Heavy Challan

In [ ]:
# 10) to concatenate 2 lists index wise 

list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]

# li = [ for i in list1 ] + [ for j in list2 ]  # doesn't work 
res = [i + j for i, j in zip(list1, list2)]
print(str(res))

['My', 'name', 'is', 'Shelly']

In [ ]:
# 11)  Concatenate two lists in the following order 
# Expected Output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']


#using list comprehension

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
result = [i + j for i in list1 for j in list2]
print(result)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
# Q12. Add item 7000 after 6000 in the following Python List
# list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(list1[2][2].index(6000)+1, 7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
# Q13. Given a Python list, remove all occurrence of 20 from the list
# list1 = [5, 20, 15, 20, 25, 50, 20]

# using list comprehension
list1 = [5, 20, 15, 20, 25, 50, 20]
list1 = [x for x in list1 if x != 20]
print(list1)

# or you can use filter() with lambda function
# list1 = [5, 20, 15, 20, 25, 50, 20]
# list1 = list(filter(lambda x: x != 20, list1))
# print(list1)

[5, 15, 25, 50]

In [ ]:
# Q14. Check if a value 200 exists in a dictionary
# d1 = {'a': 100, 'b': 200, 'c': 300}

d1 = {'a': 100, 'b': 200, 'c': 300}
if 200 in d1.values():
    print("200 exists in the dictionary")
else:
    print("200 does not exist in the dictionary")

200 exists in the dictionary

In [ ]:
# Q15. Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

n = 5
sum = 0
for i in range(1,n+1):
    sum += int(str(2)*i)
print(sum)

24690